<div class="container mt-4">
  <form [formGroup]="form">
    <div class="d-flex justify-content-between">
      @for (name of fieldNames; track name) {
        <text-field [controlName]="name"></text-field>
      }
    </div>
    <button [disabled]="!form.valid" type="submit" class="btn btn-primary d-block mt-4" style="margin-left: auto"
            (click)="submitForm()">Search
    </button>
  </form>
  <br>
  <div class="d-flex flex-wrap justify-content-between films-container pt-5 gap-3">
    @if (films().length) {
      @for (film of films(); track film.episode_id) {
        <div class="film p-3" [class.marked]="film.marked">
          <h2>{{ film.title }}</h2>
          <p class="description">{{ film.opening_crawl }}</p>
          <p><b>Director: </b>{{ film.director }}</p>
          <p><b>Producer: </b>{{ film.producer }}</p>
          <p><b>Release date:</b> {{ film.release_date }}</p>
        </div>
      }
    } @else {
      <p>Loading...</p>
    }
  </div>
</div>
